@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input[type="text"]:focus {
  box-shadow: none;
}

.blue-button {
  background-color: #a287b6;
}
.bg-amber {
  background-color: #fbbf24;
}

.Select_control:focus {
  border: 1px solid red;
}

.text-gray {
  color: #23354d;
}

.text-main {
  color: #153f4d;
}

.main-color {
  /* background-color: #A8D7CD; */
  /* background-color: #FDE3B2; */
  /* background-color: #ebd2f3; */
  background-color: #d1bee0;
  color: #dcd7fe;
}



.chat-sender {
  background-color: #4d1d5c;
  color: rgb(235, 235, 235);
}
.chatbg {
  background-color: #EDE9FC;
}
.rightchatbox-color {
  background-color: #F4F4FA;
}
.chatbox-color {
  background-color: #ffffff;
}
.chat-selected {
  background-color: #4D0064;
  color: #ffffff;
}
.messagebg:hover {
  background-color: #D1BEE0;
}
.secondary-color {
  background-color: #fbd783;
  color: #fbd783;
}




.btn-color {
  /* background-color: #BFCD84; */
  /* background-color: #FF8A5B; */
  /* background-color: #ffc439; */
  background-color: #722a88;
  color: white;
  transition: ease-in-out 0.3s;
  /* background-color: #F8E505; */
  /* color:white */
}
.btn-color:hover {
  /* background-color: #ffd46f; */
  background-color: #634679;
}

.input {
  border-color: #cbd5e1;
}
.input:focus {
  border-color: #ab9eff;
}
.input:hover {
  border-color: #ab9eff;
}

.sec-btn {
  background-color: #c3baff;
  color: #1f2937;
}

.bg-footer {
  background-color: #381952;
}
.bg-down {
  background-color: #140020;
}

.error {
  border-color: #e04a4a;
}

.bg-home {
  background-color: #faf6f4;
}

.card-btn {
  background-color: #d6bfdb;
  color: #722a88;
  transition: ease-in-out 0.3s;
}

.card-btn:hover {
  background-color: #b788c0;
}

.bg-rec {
  background-color: #cce6e7;
}

.btn-sec {
  background-color: #00c9ba;
  color: #49817b;
}

.icon-color {
  color: #955fa6;
}

.star {
  color: #49817b;
}

.readmore {
  color: #722a88;
  transition: ease-in-out 0.3s;
}

.readmore:hover {
  color: #49817b;
}

.provideritem-name {
  color: #533747;
}

.provideritem-service {
  color: #6e6362;
}


@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
}

.animate-wave {
  display: inline-block;
  animation: wave 1s;
}
