.message-container {
  width: 100%;
  overflow-y: auto;
}

@media screen and (min-height: 720px) {
  .message-container {
    height: 900px;
  }
}

@media screen and (min-height: 1080px) {
  .message-container {
    height: 900px;
  }
} 
