input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  .custom-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .custom-modal .modal-content {
    margin: auto;
  }